*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec-1{
    background-image:linear-gradient(rgba(209, 207, 207, 0.5), rgba(209, 207, 207, 0.5)), url(./images/bgimg.png);
    /* background-repeat: no-repeat; */
    height: 100vh;
    width: 100%;
    padding: 0 5px;
    /* background-attachment: fixed; */
    background-size: cover;
}
.container{
    width: 100%;
}

.row{
    display: flex;
}

.justify{
    justify-content: space-between;
}

.logo img{
    width: 40%;
    padding:10px 0 0 10px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    padding: 30px 0 0 0;
}
.navbar ul li a{
    color:#fff;
    text-decoration: none;

}
.navbar ul li a:hover{
    background-color:#000;
    color:#fff;
    border-radius: 9px;
    padding: 5px 15px;
}
button{
    
    color: #000;
    border-color: tomato;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 30px;
}

.sec-1txt{
    text-align: center;
}
.sec-1txt h1{
    padding: 80px 0 20px 0;
    font-size:70px;
    color:orange; 
}
.sec-1txt p{   
    font-size: 30px;
    color:whitesmoke;
}

/* .sec-2{} */

.sec-2txt h2{
    font-size: 50px;
    padding: 80px 0 20px 0;
    text-align: center;
}

.sec-2txt p{
    font-size: 15px;
    padding: 0 0 100px 0;
    text-align: center;
}
.sec-2txt1 p{
    text-align: center;
}
/* .sec-2txt2 p{
    text-align: center;
} */
.sec-2txt3 p{
    text-align: center;
}
.sec-2txt4 p{
    text-align: center;
}
.sec-2txt5 p{
    text-align: center;
}

/* .sec-3{} */
.col{

    padding: 90px 0px; 
}
.sec-3txt p{
    width: 45%;
    padding: 30px 20px;
}
.sec-3txt h3{
    font-size: 50px;
    padding: 80px 20px 0px 20px;
}
.sec-3i{ 
    width: 100%;
    background-image:  url(./images/istockphoto-894058154-612x612.png);
    filter: blur(2px);
    background-repeat: no-repeat;
    background-color: #000;
    background-blend-mode: lighten;
    padding: 90px 0;
}
.sec-3img1 img{
    width: 50%;
}
.sec-3txt1 h4{
    font-size: 30px;
    color: white ;
  
}
.sec-3txt1 p{
    font-size: 20px;
    color: white;
    /* position: absolute; */
    z-index: 1;
}
/* .sec-3i img
{
    width: 100%;
} */
.p1
{
    z-index: 1;
}